
body {
    background: linear-gradient(to right, rgb(235, 131, 235), rgb(253, 253, 253), rgb(152, 205, 240));
}

.header {
    background: linear-gradient(to right, purple, rgb(88, 11, 88));
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: groove;
    border-left: groove;
    border-right: groove;
    border-bottom: dotted;
    border-color: plum;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}
.navbar li {
    padding: 1em;
    margin: 0.5em;
}
.navbar a {
    text-decoration: none;
    color: aqua;
    text-shadow: 2px 1px rgba(255, 255, 0, 0.356);
    font-size: 2em;
    font-family: cursive;   
}
.navbar li {
    transition: transform .2s; 
   }
   
.navbar li:hover {
    transform: scale(1.2); 
   }

.heroflex {
    background-color: #301934;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-left: groove;
    border-right: groove;
    border-bottom: groove;
    padding-bottom: 20px;
    
}
.herotext {
    font-size: 40px;
    color: aqua;
    text-shadow: 2px 1px rgba(255, 255, 0, 0.356);
    flex-direction: column;
}
.herotext p {
    font-size: 20px;
}

.emojiimg {

    transition: transform .7s ease-in-out;
}
.emojiimg:hover {
    transform: rotate(360deg);
   }

.heroh1 {
        position: relative;
}

.heroh1::before {
    content: 'I know the Computers!1!';
   }
   
   .heroh1:hover::before {
    content: 'I dont my head hurt';
   }

.middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4em;
    border-style: groove;
    padding-bottom: 4em;
    background-size: 2000px;
    background-image: url(../img/gradientgrid.jpg)
    
    
}
.middle-img {
    text-align: center;
    padding-bottom: 4em;
    background: linear-gradient(to right, purple, rgb(88, 11, 88));
    border-radius: 10px;
    padding: 2em;
    border-style: groove;
}

.middle-img p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: whitesmoke;
}

.middle-img {

        transition: transform .2s; 
       }
       
.middle-img:hover {
        transform: scale(1.2); 
       }

.imglink {
    text-decoration: none;
}

.mobile-wrap {
        display: flex;
        justify-content: center;
        width: 100vw;
}
.mobile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, purple, rgb(88, 11, 88));
    border-radius: 3em;
    border-style: groove;
    text-align: center;
    width: 30em;
    margin: auto;
}





@keyframes pulse {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.1);
}
100% {
  transform: scale(1);
}
}

.mobile-container {
    animation: pulse 4s infinite;
}

.footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 0.5em;
    border-style: groove;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-weight: lighter;
    background: linear-gradient(to right, purple, rgb(88, 11, 88));
    font-size: 1em;
}